// https://i.pinimg.com/564x/88/13/50/88135019f21709306bb33c3a6d18c0ca.jpg

$cream:#faf4e9;
$light-pink:#f7b0be;
$pink:#ed8e83;
$red:#ef3c23;
$light-red:#f15a42;
$yellow:#fac92c;
$aqua:#cfe5cc;
$light-blue:#2178ae;
$blue:#1b4793;